<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
				
				<li> <a href="https://twitter.com/TheCharleyWu" class="menu-link" target="_blank" title='Twitter'><i class="fa fa-twitter" aria-hidden="false"></i></a></li>

				<li><a href="https://www.researchgate.net/profile/Charley_Wu2" class="menu-link" target="_blank"><i class="ai ai-researchgate" aria-hidden="false" title='Research Gate'></i></a></li>

				<li> <a href="https://github.com/charleywu" class="menu-link" target="_blank"><i class="fa fa-github" aria-hidden="false" title='Github'></i></a></li>
				 
				<li> <a href="https://scholar.google.com/citations?user=1O2hcVgAAAAJ" class="menu-link" target="_blank"><i class="ai ai-google-scholar" aria-hidden="false" title='Google Scholar'></i></a></li>

				<li> <a href="mailto:charleymswu@gmail.com" class="menu-link" target="_blank"><i class="fa fa-envelope" aria-hidden="false" title='Contact'></i></a></li>

				 
			</ul>
			</li>

			</ul>
		</nav>
	</div>
</aside>

<header>
	<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header>
 